<launch>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
    <!--   <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" args="/output/image_raw/compressed" /> -->
    <!-- <node pkg="rp_cyclop" name="rp_cyclop" type="rp_cyclop.py" output="screen" /> -->
    <node pkg="monodepth" type="monodepth.py" name="monodepth" output="screen" respawn="true">
        <param name="topic_color" value="/raspicam_node/image" />
        <param name="topic_depth" value="/monodepth/depth" />
    </node>
</launch>
