<launch>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
  <node type="rqt_tf_tree" name="rqt_tf_tree" pkg="rqt_tf_tree" />
  <!--   <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" args="/output/image_raw/compressed" /> -->
  <!--  <node pkg="rp_cyclop" name="rp_cyclop" type="rp_cyclop.py" output="screen" /> -->

  <node pkg="monodepth_adabin" type="monodepth_adabin.py" name="monodepth_adabin" output="screen" respawn="true">
    <param name="topic_color" value="/raspicam_node/image" />
    <param name="topic_depth" value="/monodepth_adabin/depth_image" />
    <param name="topic_camera_info" value="/raspicam_node/camera_info" />
    <param name="device" value="cpu" />
  </node>

  <!-- TF of the base footprint regarding to the world-->
  <node pkg="tf" type="static_transform_publisher" name="world_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0.0 0.0 0.0 0.0 0.0 0.0 world map 100" />

  <!--  <node pkg="monodepth" type="monodepth.py" name="monodepth" output="screen" respawn="true">
      <param name="topic_color" value="/raspicam_node/image" />
      <param name="topic_depth" value="/monodepth/depth_image" />
      <param name="topic_camera_info" value="/raspicam_node/camera_info"/>
  </node> -->

  <group ns="rtabmap">
    <arg name="odom_guess" default="false" />

    <!-- Point to Plane ICP? (has effect only when hector:=false) -->
    <arg name="p2n" default="true" />

    <!-- Limit lidar range if > 0  -->
    <arg name="max_range" default="25" />

    <!-- Use libpointmatcher for ICP? -->
    <arg name="pm" default="true" />

    <!-- Example with camera or not -->
    <arg name="camera" default="false" />

    <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry">
      <remap from="scan" to="/scan" />
      <remap from="odom" to="/scanmatch_odom" />
      <remap from="odom_info" to="/rtabmap/odom_info" />

      <param name="frame_id" type="string" value="base_footprint" />

      <param if="$(arg odom_guess)" name="odom_frame_id" type="string" value="icp_odom" />
      <param if="$(arg odom_guess)" name="guess_frame_id" type="string" value="odom" />

      <param name="Icp/VoxelSize" type="string" value="0.05" />
      <param name="Icp/RangeMax" type="string" value="$(arg max_range)" />
      <param name="Icp/Epsilon" type="string" value="0.001" />
      <param unless="$(arg odom_guess)" name="Icp/MaxTranslation" type="string" value="0" />
      <!-- can be set to reject large ICP jumps -->
      <param if="$(arg p2n)" name="Icp/PointToPlane" type="string" value="true" />
      <param if="$(arg p2n)" name="Icp/PointToPlaneK" type="string" value="5" />
      <param if="$(arg p2n)" name="Icp/PointToPlaneRadius" type="string" value="0.3" />
      <param unless="$(arg p2n)" name="Icp/PointToPlane" type="string" value="false" />
      <param unless="$(arg p2n)" name="Icp/PointToPlaneK" type="string" value="0" />
      <param unless="$(arg p2n)" name="Icp/PointToPlaneRadius" type="string" value="0" />
      <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1" />
      <param name="Icp/PM" type="string" value="$(arg pm)" />
      <!-- use libpointmatcher to handle PointToPlane with 2d scans-->
      <param name="Icp/PMOutlierRatio" type="string" value="0.85" />
      <param name="Odom/Strategy" type="string" value="0" />
      <param name="Odom/GuessMotion" type="string" value="true" />
      <param name="Odom/ResetCountdown" type="string" value="0" />
      <param name="Odom/ScanKeyFrameThr" type="string" value="0.9" />
    </node>

    <!-- Choose hector_slam or icp_odometry for odometry -->
    <arg name="hector" default="false" />
    <!-- SLAM -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen">
      <param name="frame_id" type="string" value="base_footprint" />

      <param name="subscribe_rgb" type="bool" value="false" />
      <param name="subscribe_depth" type="bool" value="false" />
      <param name="subscribe_rgbd" type="bool" value="$(arg camera)" />
      <param name="subscribe_scan" type="bool" value="true" />

      <remap from="scan" to="/scan" />
      <remap from="rgb" to="/raspicam_node/image" />

      <!-- As hector doesn't provide compatible covariance in the odometry topic, don't use the topic and fix the covariance -->
      <param if="$(arg hector)" name="odom_frame_id" type="string" value="hector_map" />
      <param if="$(arg hector)" name="odom_tf_linear_variance" type="double" value="0.0005" />
      <param if="$(arg hector)" name="odom_tf_angular_variance" type="double" value="0.0005" />

      <remap unless="$(arg hector)" from="odom" to="/scanmatch_odom" />
      <param unless="$(arg hector)" name="subscribe_odom_info" type="bool" value="true" />

      <!-- RTAB-Map's parameters -->
      <param name="Reg/Strategy" type="string" value="1" />
      <!-- 0=Visual, 1=ICP, 2=Visual+ICP -->
      <param name="Reg/Force3DoF" type="string" value="true" />
      <param name="RGBD/ProximityBySpace" type="string" value="true" />
      <param name="Icp/CorrespondenceRatio" type="string" value="0.2" />
      <param name="Icp/VoxelSize" type="string" value="0.05" />
      <param name="Icp/RangeMax" type="string" value="$(arg max_range)" />
      <param name="Grid/RangeMax" type="string" value="$(arg max_range)" />
    </node>

  </group>

</launch>
