<launch>
    <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

    <!--IMU and asociated TF launch -->
    <node pkg="mpu_6050_driver" name="imu_node.py" output="screen"/>
    <node pkg="mpu_6050_driver" name="tf_broadcaster_imu.py" output="screen"/>

    <!-- TF of the robot and all the sensors-->
    <node pkg="tf" type="static_transform_publisher" name="basefootprint_to_baselink" args="0.0 0.0 1 0.0 0.0 0.0 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_rplidar" args="0.0 0.02 0.08 3.14 0.0 0.0 base_link laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_cam" args="0.06 0.0 0.06 0.0 0.0 0.0 base_link cam 100" />
    
</launch>