<launch>
     <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch" />

   <!-- <include file="$(find raspicam_node)/launch/camerav2_640x480.launch" /> -->
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

    <!--IMU and asociated TF launch -->
    <node pkg="mpu_6050_driver" name="imu_node" type="imu_node.py" output="screen">
        <param name="i2c_bus" type="int" value="1" />
        <param name="device_address" type="int" value="104" />
        <param name="imu_frame" type="string" value="base_imu" />
    </node>
    <node name="imu_filter_node_for_orientation" pkg="imu_complementary_filter" type="complementary_filter_node"></node>
    <node pkg="mpu_6050_driver" name="tf_broadcaster_imu" type="tf_broadcaster_imu.py" output="screen" />

    <!-- TF of the robot and all the sensors-->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_baselink" args="0.0 0.0 0.92 0.0 0.0 0.0 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rplidar" args="0.0 0.02 0.08 3.14 0.0 0.0 base_link laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_imu_to_cam" args="0.0 0.0 -0.02 0.0 1.45 0.0 base_imu cam 100" />

</launch>